<div class="menu_mobile menu_mobile_fullscreen scheme_dark">
   <div class="menu_mobile_inner">
      <a class="menu_mobile_close icon-cancel"></a><a class="sc_layouts_logo" href="#"><img src="http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/logotype.png" width="440" height="90"></a>
      <nav class="menu_mobile_nav_area ">
         <ul id="menu_mobile" class=" menu_mobile_nav">
            <li id="menu_mobile-item-105" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-105">
               <a href="#"><span>Home</span><span class="open_child_menu"></span></a>
               <ul class="sub-menu">
                  <li id="menu_mobile-item-235" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-219 current_page_item menu-item-235"><a href="http://smarthead.ancorathemes.com/"><span>Home 1</span></a></li>
                  <li id="menu_mobile-item-234" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-234"><a href="http://smarthead.ancorathemes.com/home-2/"><span>Home 2</span></a></li>
                  <li id="menu_mobile-item-519" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-519"><a href="http://smarthead.ancorathemes.com/home-3/"><span>Home 3</span></a></li>
                  <li id="menu_mobile-item-518" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-518"><a href="http://smarthead.ancorathemes.com/home-4/"><span>Home 4</span></a></li>
               </ul>
            </li>
            <li id="menu_mobile-item-106" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-106">
               <a href="#"><span>Features</span><span class="open_child_menu"></span></a>
               <ul class="sub-menu">
                  <li id="menu_mobile-item-107" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-107">
                     <a href="#"><span>Tools</span><span class="open_child_menu"></span></a>
                     <ul class="sub-menu">
                        <li id="menu_mobile-item-112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-112"><a href="http://smarthead.ancorathemes.com/shortcodes/"><span>Shortcodes</span></a></li>
                        <li id="menu_mobile-item-111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-111"><a href="http://smarthead.ancorathemes.com/typography/"><span>Typography</span></a></li>
                     </ul>
                  </li>
                  <li id="menu_mobile-item-113" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-113">
                     <a href="#"><span>Help</span><span class="open_child_menu"></span></a>
                     <ul class="sub-menu">
                        <li id="menu_mobile-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="http://smarthead.ancorathemes.com/support/"><span>Support</span></a></li>
                        <li id="menu_mobile-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><a href="http://smarthead.ancorathemes.com/video-tutorials/"><span>Video Tutorials</span></a></li>
                     </ul>
                  </li>
                  <li id="menu_mobile-item-114" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-114">
                     <a href="#"><span>Pages</span><span class="open_child_menu"></span></a>
                     <ul class="sub-menu">
                        <li id="menu_mobile-item-236" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-236">
                           <a href="#"><span>About Us</span><span class="open_child_menu"></span></a>
                           <ul class="sub-menu">
                              <li id="menu_mobile-item-237" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-237"><a href="http://smarthead.ancorathemes.com/about-style-1/"><span>Style 1</span></a></li>
                              <li id="menu_mobile-item-238" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-238"><a href="http://smarthead.ancorathemes.com/about-style-2/"><span>Style 2</span></a></li>
                           </ul>
                        </li>
                        <li id="menu_mobile-item-115" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-115">
                           <a href="#"><span>Gallery</span><span class="open_child_menu"></span></a>
                           <ul class="sub-menu">
                              <li id="menu_mobile-item-118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118"><a href="http://smarthead.ancorathemes.com/galllery-grid/"><span>Grid</span></a></li>
                              <li id="menu_mobile-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="http://smarthead.ancorathemes.com/gallery-cobbles/"><span>Cobbles</span></a></li>
                              <li id="menu_mobile-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="http://smarthead.ancorathemes.com/gallery-masonry/"><span>Masonry</span></a></li>
                           </ul>
                        </li>
                     </ul>
                  </li>
                  <li id="menu_mobile-item-549" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-549"><a href="http://smarthead.ancorathemes.com/shop/"><span>Shop</span></a></li>
               </ul>
            </li>
            <li id="menu_mobile-item-548" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-548"><a href="/tutors/"><span>Find a Tutor</span></a></li>
            <li id="menu_mobile-item-164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164"><a href="http://smarthead.ancorathemes.com/become-a-tutor/"><span>Become a Tutor</span></a></li>
            <li id="menu_mobile-item-119" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-119">
               <a href="#"><span>News</span><span class="open_child_menu"></span></a>
               <ul class="sub-menu">
                  <li id="menu_mobile-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123"><a href="http://smarthead.ancorathemes.com/blog-streampage/"><span>Blog Streampage</span></a></li>
                  <li id="menu_mobile-item-120" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-120">
                     <a href="#"><span>Classic Style</span><span class="open_child_menu"></span></a>
                     <ul class="sub-menu">
                        <li id="menu_mobile-item-122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-122"><a href="http://smarthead.ancorathemes.com/blog-classic-2-columns/"><span>2 Columns</span></a></li>
                        <li id="menu_mobile-item-121" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121"><a href="http://smarthead.ancorathemes.com/blog-classic-3-columns/"><span>3 Columns</span></a></li>
                     </ul>
                  </li>
                  <li id="menu_mobile-item-124" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-124">
                     <a href="#"><span>Chess Style</span><span class="open_child_menu"></span></a>
                     <ul class="sub-menu">
                        <li id="menu_mobile-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a href="http://smarthead.ancorathemes.com/blog-chess-2-columns/"><span>2 Columns</span></a></li>
                        <li id="menu_mobile-item-126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-126"><a href="http://smarthead.ancorathemes.com/blog-chess-4-columns/"><span>4 Columns</span></a></li>
                        <li id="menu_mobile-item-125" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-125"><a href="http://smarthead.ancorathemes.com/blog-chess-6-columns/"><span>6 Columns</span></a></li>
                     </ul>
                  </li>
               </ul>
            </li>
            <li id="menu_mobile-item-165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165"><a href="http://smarthead.ancorathemes.com/contacts/"><span>Contacts</span></a></li>
         </ul>
      </nav>
      <div class="search_wrap search_style_normal search_mobile inited">
         <div class="search_form_wrap">
            <form role="search" method="get" class="search_form" action="http://smarthead.ancorathemes.com/">
               <input type="text" class="search_field" placeholder="Search" value="" name="s">
               <button type="submit" class="search_submit trx_addons_icon-search"></button>
            </form>
         </div>
      </div>
      <div class="socials_mobile"><span class="social_item"><a href="https://twitter.com/ancora_themes" target="_blank" class="social_icons social_twitter"><span class="trx_addons_icon-twitter"></span></a></span><span class="social_item"><a href="https://www.facebook.com/AncoraThemes/" target="_blank" class="social_icons social_facebook"><span class="trx_addons_icon-facebook"></span></a></span><span class="social_item"><a href="https://www.instagram.com/ancora_themes/" target="_blank" class="social_icons social_instagram"><span class="trx_addons_icon-instagram"></span></a></span><span class="social_item"><a href="https://dribbble.com/AncoraThemes" target="_blank" class="social_icons social_dribbble"><span class="trx_addons_icon-dribbble"></span></a></span></div>
   </div>
</div>