<div class="masthead">
  <a href="/" class="text-muted">Tutorry</a>
  <nav>
    <ul class="nav nav-justified">
    {{#if isAuthenticated}}
       <li class="active"><a href="/users/postRequirement">Post Tutor Requirement</a></li>
      <li><a href="/users/dashboard">Dashboard</a></li>
       <li><a href="/users/profile">Profile</a></li>
      <li><a href="/users/logout">Logout</a></li>
    {{else}}
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/users/postRequirement">Post Tutor Requirement</a></li>
      <li><a href="/users/register">Sign Up</a></li>
      <li><a href="/users/login">Sign In</a></li>

    {{/if}}
      
    </ul>
  </nav>
</div>


