<header class="top_panel top_panel_default without_bg_image header-default scheme_default">

<div class="top_panel_top">
   <div class="content_wrap">
      <div class="custom_button_language">
         <a href="#" class="language_button down"><span>Language</span></a>
         <ul class="language_list">
            <li><a rel="alternate" hreflang="en" href="http://smarthead.ancorathemes.com/tutors/" class="active">English</a></li>
         </ul>
      </div>
      <a href="/users/logout" class="trx_addons_popup_link trx_addons_login_link  inited"><span class="sc_layouts_item_icon sc_layouts_login_icon trx_addons_icon-user-alt"></span><span class="sc_layouts_item_details sc_layouts_login_details">Logout</span></a>        
   </div>
</div>



<div class="top_panel_navi sc_layouts_row sc_layouts_row_type_normal sc_layouts_row_fixed
   scheme_default">
   <div class="content_wrap">
      <div class="columns_wrap">
         <div class="sc_layouts_column sc_layouts_column_align_left sc_layouts_column_icons_position_left column-1_4">
            <div class="sc_layouts_item"><a class="sc_layouts_logo" href="http://smarthead.ancorathemes.com/"><img src="http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/logotype.png" width="440" height="90"></a></div>
         </div>
         <div class="sc_layouts_column sc_layouts_column_align_right sc_layouts_column_icons_position_left column-3_4">
            <div class="sc_layouts_item">
               <nav class="menu_main_nav_area sc_layouts_hide_on_mobile">
                  <ul id="menu_main" class="sc_layouts_menu_nav menu_main_nav inited sf-js-enabled sf-arrows">
                    <li id="menu-item-105" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-105">
                        <a href="/" class="sf-with-ul"><span>Home</span></a>
                    </li>
                    <li id="menu-item-106" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-106">
                        <a href="#" class="sf-with-ul"><span>Features</span></a>
                    </li>
					 <li id="menu-item-548" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-548">
						<a href="/tutors/"><span>Find a Tutor</span></a>
					 </li>
                     <li id="menu-item-164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164">
                     	<a href="http://smarthead.ancorathemes.com/become-a-tutor/"><span>Become a Tutor</span></a>
                     </li>
                     <li id="menu-item-119" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-119">
                        <a href="#" class="sf-with-ul"><span>News</span></a>
                    </li>
                     <li id="menu-item-165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165">
                     <a href="http://smarthead.ancorathemes.com/contacts/"><span>Contacts</span></a>
                     </li>
                  </ul>
               </nav>
               <div class="sc_layouts_iconed_text sc_layouts_menu_mobile_button">
                  <a class="sc_layouts_item_link sc_layouts_iconed_text_link" href="#">
                  <span class="sc_layouts_item_icon sc_layouts_iconed_text_icon trx_addons_icon-menu"></span>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <!-- /.sc_layouts_row -->
   </div>
   <!-- /.content_wrap -->
</div>

</header>