
{{>header1}}

<div class="page_content_wrap scheme_default" style="padding-top:20%">
   <div class="content_wrap">
   <!--START OF  SEARCH BAR----->
      <div class="tp-form-shortcode-wrap">
            <div class="tp-form-header">
               <h6 class="tp-form-title">Find Your</h6>
               <h4 class="tp-form-title">Tutor</h4>
            </div>
            <div class="tp-form">
               <form role="search" action="/users/find_a_tutor" method="post" id="tutor-search-form" class="tutor-plugin tutor-plugin-form-search">
                  <input type="hidden" name="post_type" value="tutor">
                  <input type="hidden" name="s" value="">
                  <input type="text" name="n" placeholder="Enter a Subject" value="" autocomplete="off">
                  <span class="type-number"><input type="number" name="z" min="0" placeholder="Zipcode" value="" autocomplete="off"><span class="q_inc"></span><span class="q_dec"></span></span>
                  <label class="select_container"><select name="g" class="filled">
                  <option value="all" selected="">All Groups</option>
                  <option value="online">Online</option><option value="personal">Personal</option></select></label>
                  <div class="tp-form-button">
                     <button type="submit" value="Find Now" class="sc_button_hover_slide_left">Find Now</button>
                  </div>
               </form>
            </div>
      </div>
   <!------END OF SEARCH BAR--->

  <!--- start of sidebar--->

      <div class="sidebar left widget_area scheme_default" role="complementary" style="float: left">
         <div class="sidebar_inner">
            <aside id="tag_cloud-3" class="widget widget_tag_cloud">
               <h5 class="widget_title">Subjects</h5>
               <div class="tagcloud"><a href="http://smarthead.ancorathemes.com/tutor_tag/architecture/" class="tag-cloud-link tag-link-65 tag-link-position-1 sc_button_hover_slide_left" style="font-size: 22pt;" aria-label="Architecture (2 items)">Architecture</a>
                  <a href="http://smarthead.ancorathemes.com/tutor_tag/biology/" class="tag-cloud-link tag-link-62 tag-link-position-2 sc_button_hover_slide_left" style="font-size: 22pt;" aria-label="Biology (2 items)">Biology</a>
                  <a href="http://smarthead.ancorathemes.com/tutor_tag/business-study/" class="tag-cloud-link tag-link-63 tag-link-position-3 sc_button_hover_slide_left" style="font-size: 22pt;" aria-label="Business Study (2 items)">Business Study</a>
                  <a href="http://smarthead.ancorathemes.com/tutor_tag/chemistry/" class="tag-cloud-link tag-link-64 tag-link-position-4 sc_button_hover_slide_left" style="font-size: 22pt;" aria-label="Chemistry (2 items)">Chemistry</a>
                  <a href="http://smarthead.ancorathemes.com/tutor_tag/coding/" class="tag-cloud-link tag-link-59 tag-link-position-5 sc_button_hover_slide_left" style="font-size: 22pt;" aria-label="Coding (2 items)">Coding</a>
                  <a href="http://smarthead.ancorathemes.com/tutor_tag/communication/" class="tag-cloud-link tag-link-60 tag-link-position-6 sc_button_hover_slide_left" style="font-size: 22pt;" aria-label="Communication (2 items)">Communication</a>
                  <a href="http://smarthead.ancorathemes.com/tutor_tag/computer-science/" class="tag-cloud-link tag-link-61 tag-link-position-7 sc_button_hover_slide_left" style="font-size: 22pt;" aria-label="Computer Science (2 items)">Computer Science</a>
                  <a href="http://smarthead.ancorathemes.com/tutor_tag/creative-writing/" class="tag-cloud-link tag-link-72 tag-link-position-8 sc_button_hover_slide_left" style="font-size: 8pt;" aria-label="Creative Writing (1 item)">Creative Writing</a>
                  <a href="http://smarthead.ancorathemes.com/tutor_tag/engineering/" class="tag-cloud-link tag-link-73 tag-link-position-9 sc_button_hover_slide_left" style="font-size: 8pt;" aria-label="Engineering (1 item)">Engineering</a>
                  <a href="http://smarthead.ancorathemes.com/tutor_tag/english/" class="tag-cloud-link tag-link-56 tag-link-position-10 sc_button_hover_slide_left" style="font-size: 8pt;" aria-label="English (1 item)">English</a>
                  <a href="http://smarthead.ancorathemes.com/tutor_tag/marketing/" class="tag-cloud-link tag-link-70 tag-link-position-11 sc_button_hover_slide_left" style="font-size: 8pt;" aria-label="Marketing (1 item)">Marketing</a>
                  <a href="http://smarthead.ancorathemes.com/tutor_tag/mathematics/" class="tag-cloud-link tag-link-71 tag-link-position-12 sc_button_hover_slide_left" style="font-size: 8pt;" aria-label="Mathematics (1 item)">Mathematics</a>
                  <a href="http://smarthead.ancorathemes.com/tutor_tag/organic-chemistry/" class="tag-cloud-link tag-link-67 tag-link-position-13 sc_button_hover_slide_left" style="font-size: 8pt;" aria-label="Organic Chemistry (1 item)">Organic Chemistry</a>
                  <a href="http://smarthead.ancorathemes.com/tutor_tag/physics/" class="tag-cloud-link tag-link-68 tag-link-position-14 sc_button_hover_slide_left" style="font-size: 8pt;" aria-label="Physics (1 item)">Physics</a>
                  <a href="http://smarthead.ancorathemes.com/tutor_tag/social-studies/" class="tag-cloud-link tag-link-69 tag-link-position-15 sc_button_hover_slide_left" style="font-size: 8pt;" aria-label="Social Studies (1 item)">Social Studies</a>
                  <a href="http://smarthead.ancorathemes.com/tutor_tag/spanish/" class="tag-cloud-link tag-link-54 tag-link-position-16 sc_button_hover_slide_left" style="font-size: 8pt;" aria-label="Spanish (1 item)">Spanish</a>
                  <a href="http://smarthead.ancorathemes.com/tutor_tag/world-history/" class="tag-cloud-link tag-link-66 tag-link-position-17 sc_button_hover_slide_left" style="font-size: 8pt;" aria-label="World History (1 item)">World History</a>
               </div>
            </aside>
            <aside id="categories-3" class="widget widget_categories">
               <h5 class="widget_title">Categories</h5>
               <ul>
                  <li class="cat-item cat-item-10"><a href="http://smarthead.ancorathemes.com/category/distance-learning/">Distance Learning</a></li>
                  <li class="cat-item cat-item-7"><a href="http://smarthead.ancorathemes.com/category/lesson-planning/">Lesson Planning</a></li>
                  <li class="cat-item cat-item-8"><a href="http://smarthead.ancorathemes.com/category/online-tutoring/">Online Tutoring</a></li>
                  <li class="cat-item cat-item-9"><a href="http://smarthead.ancorathemes.com/category/resources/">Resources</a></li>
                  <li class="cat-item cat-item-6"><a href="http://smarthead.ancorathemes.com/category/tutoring/">Tutoring</a></li>
               </ul>
            </aside>
         </div>
         <!-- /.sidebar_inner -->
      </div>
         <!---end of sidebar---->

    <!----- start of content which has teachers profiles--->

      <div class="content">

         <form class="tutor-plugin-ordering" method="get"><!-- start of filter options-->
            <label class="select_container">
               <select name="orderby" class="orderby filled">
                  <option value="default" selected="selected">Default sorting</option>
                  <option value="price">Sort by price: low to high</option>
                  <option value="price-desc">Sort by price: high to low</option>
               </select>
            </label>
            <input type="hidden" name="q" value="/tutors/">
         </form><!-- end of filter options-->


      <div class="tp-columns-container"><!--start of tutor cards-->

         <div class="tutor-plugin column-1-2"><!--start of single tutor card-->
            <div id="post-578" class="post-578 tutor type-tutor status-publish has-post-thumbnail hentry tutor_group-personal tutor_tag-coding tutor_tag-communication tutor_tag-computer-science">
               <div class="tp-single tp-post">
                  <div class="tp-featured">
                     <img width="740" height="792" src="http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/tutor8-740x792.jpg" class="attachment-tutor-archive size-tutor-archive wp-post-image" alt="" srcset="http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/tutor8-740x792.jpg 740w, http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/tutor8-280x300.jpg 280w, http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/tutor8-370x397.jpg 370w" sizes="(max-width: 740px) 100vw, 740px">                        
                     <div class="tp-featured-overlay">
                        <div class="tp-price">
                           <span class="tp-present-price"><span class="small">$</span>24</span>
                           <span class="tp-period-price">hour</span>
                        </div>
                     </div>
                  </div>
                  <div class="tp-content">
                     <div class="tp-subjects">
                        <span class="tp-tutor-subjects">Coding</span>,<span class="tp-tutor-subjects">Communication</span>,
                        <span class="tp-tutor-subjects">Computer Science</span>
                     </div>
                     <div class="tp-title">
                        <a class="tp-title-link" href="http://smarthead.ancorathemes.com/tutors/josh-summers/">Josh Summers</a>
                     </div>
                     <div class="tp-read-more">
                        <a class="tp-title-read-more sc_button_hover_slide_left" href="http://smarthead.ancorathemes.com/tutors/josh-summers/">View Tutor</a>
                     </div>
                  </div>
               </div>
            </div>
         </div><!---end of single tutor card---> 

      </div><!--end of tutor cards-->
   </div>
<!---- end of content----->

   </div>
</div>