
{{>header1}}

<div class="page_content_wrap scheme_default" style="padding-top:20%">
   <div class="content_wrap">
   <!--START OF  SEARCH BAR----->
      <div class="tp-form-shortcode-wrap">
            <div class="tp-form-header">
               <h6 class="tp-form-title">Find Your</h6>
               <h4 class="tp-form-title">Tutor</h4>
            </div>
            <div class="tp-form">
               <form role="search" action="http://smarthead.ancorathemes.com/" method="get" id="tutor-search-form" class="tutor-plugin tutor-plugin-form-search">
                  <input type="hidden" name="post_type" value="tutor">
                  <input type="hidden" name="s" value="">
                  <input type="text" name="n" placeholder="Enter a Subject" value="" autocomplete="off">
                  <span class="type-number"><input type="number" name="z" min="0" placeholder="Zipcode" value="" autocomplete="off"><span class="q_inc"></span><span class="q_dec"></span></span>
                  <label class="select_container"><select name="g" class="filled">
                  <option value="all" selected="">All Groups</option>
                  <option value="online">Online</option><option value="personal">Personal</option></select></label>
                  <div class="tp-form-button">
                     <button type="submit" value="Find Now" class="sc_button_hover_slide_left">Find Now</button>
                  </div>
               </form>
            </div>
      </div>
   <!------END OF SEARCH BAR--->
   </div>
</div>