<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Are you a Tutor ?</h1>
  <p class="lead">Register with us and start earning...</p>
  <p><a class="btn btn-lg btn-default" href="/users/register" role="button">Get Registered</a></p>
</div>

<h2>Tutor Requirements:</h2>

{{# each requirement}}
    
<div class="row">

{{# each this}}
<div class="col-lg-4">
  <h2>{{this.subject}}</h2></br>
  <p>Class: {{this.class}}</p></br>
  <p>Location</p></br>
  <p>Gender</p></br>
  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
</div>
{{/each}}

</div>

{{/each}}

<h2>Available Tutors</h2>

{{# each tutor}}
    
<div class="row">

{{# each this}}
<div class="col-lg-4">
  <h2>Name: {{this.username}}</h2></br>
  <p>Email: {{this.email}}</p></br>
  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
</div>
{{/each}}

</div>

{{/each}}
