
<img src="teacher.jpg" alt="Trulli"  height="333" class="center">
<form class="form-signin" action="/users/register" method="POST">
  <h2 class="form-signin-heading">Please sign up</h2>

  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>

  <label for="inputUsername" class="sr-only">Username</label>
  <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required>

  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

  <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
  <input type="password" id="inputConfirmPassword" name="confirmationPassword" class="form-control" placeholder="Confirm Password" required>

 
  <br/>

  <button class="btn btn-lg btn-default btn-block" type="submit">Sign up</button>
</form>
<div class ="abc">
<p><h2>How Tutorry works?</h2></p>

<!-- Example row of columns -->
<div class="row">
<div class="col-lg-4">
  <h4>1.Pick Tutor</h4>
  <img src="book.jpg" alt="Trulli"  height="250" width="250">
  <br>
  </br>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

</div>

<div class="col-lg-4">
  <h4>2.Schedule</h4>
  <img src="time.jpg" alt="Trulli"  height="250" width="250">
  <br>
  </br>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam
   porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  
</div>
<div class="col-lg-4">
  <h4>3.Start Learning</h4>
  <img src="tutor1.jpg" alt="Trulli"  height="250" width="250">
  <br>
  </br>
  <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
  
</div>
</div>

</form>
<div class ="abc">
<p><h2>Why use Tutorry?</h2></p>

<!-- Example row of columns -->
<div class="row">
<div class="col-lg-5">
  <h4>On-demand home tutorring</h4>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  </div>
<div class="col-lg-5" >
  <h4>1-1 Attention</h4>
  
  <p align="center">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
 
</div>
</div>
<div class="row">
<div class="col-lg-5">
  <h4>Affordable prices</h4>
  <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
  </div>
<div class="col-lg-5">
  <h4>Guaranteed results</h4>
  <p class="alignright">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
</div>
</div>