<div class="page_content_wrap scheme_default">

   <div class="content_wrap">

      <div class="content">

         <article id="post-219" class="post_item_single post_type_page post-219 page type-page status-publish hentry">

            <div class="post_content entry-content">

               <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_custom_1485445769518 vc_row-has-fill vc_row-no-padding special_class_1" style="position: relative; left: -171.182px; box-sizing: border-box; width: 1372px;"><!---- START OF FIRST SECTION------->

                  <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">

                     <div class="vc_column-inner ">

                        <div class="wpb_wrapper">

                           <div class="wpb_revslider_element wpb_content_element">

                              <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin: 0px auto; background: transparent; padding: 0px; height: 643px; overflow: visible;">

                                 <div id="rev_slider_1_1" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive rev_redraw_on_blurfocus" style="margin-top: 0px; margin-bottom: 0px; height: 643px;" data-version="5.4.6.4" data-slideactive="rs-4">

                                    <ul class="tp-revslider-mainul" style="visibility: visible; display: block; overflow: hidden; width: 1372px; height: 100%; max-height: none; left: 0px;">

                                       <li data-index="rs-4" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://smarthead.ancorathemes.com/wp-content/uploads/2017/01/slide2-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="tp-revslider-slidesli active-revslide">

                                          <div class="slotholder" >
                                            
                                             <div class="tp-bgimg defaultimg " data-bgcolor="undefined" style="background-repeat: no-repeat; background-image: url(&quot;http://smarthead.ancorathemes.com/wp-content/uploads/2017/01/slide2.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="http://smarthead.ancorathemes.com/wp-content/uploads/2017/01/slide2.jpg"></div>
                                          </div>
                                          <!-- LAYERS -->
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>

                           <div class="vc_row wpb_row vc_inner vc_row-fluid special_class_2">

                              <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">

                                 <div class="vc_column-inner ">

                                    <div class="wpb_wrapper">

                                       <div class="tp-form-shortcode-wrap">

                                          <div class="tp-form-header">
                                             <h6 class="tp-form-title">Find Your</h6>
                                             <h4 class="tp-form-title">Tutor</h4>
                                          </div>

                                          <div class="tp-form">
                                             <form role="search" action="http://smarthead.ancorathemes.com/" method="get" id="tutor-search-form" class="tutor-plugin tutor-plugin-form-search">

                                                <input type="hidden" name="post_type" value="tutor">
                                                <input type="hidden" name="s" value="">
                                                <input type="text" name="n" placeholder="Enter a Subject" value="" autocomplete="off">
                                                <span class="type-number"><input type="number" name="z" min="0" placeholder="Zipcode" value="" autocomplete="off"><span class="q_inc"></span><span class="q_dec"></span></span>
                                                <label class="select_container">
                                                   <select name="g" class="filled">
                                                      <option value="all" selected="">All Groups</option>
                                                      <option value="online">Online</option>
                                                      <option value="personal">Personal</option>
                                                   </select>
                                                </label>

                                                <div class="tp-form-button">
                                                   <button type="submit" value="Find Now" class="sc_button_hover_slide_left">Find Now</button>
                                                </div>
                                             </form>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>


                        </div>
                     </div>
                  </div>
               </div><!-------END OF FIRST SECTION------>

               <!---- START OF SECOND SECTION------->
               <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1485445777014 vc_row-has-fill" style="position: relative; left: -159.5px; box-sizing: border-box; width: 1349px; padding-left: 159.5px; padding-right: 159.5px;">
                  <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
                     <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                           <div id="sc_title_1947561455" class="sc_title sc_title_default  vc_custom_1484220986265">
                              <h6 class="sc_item_subtitle sc_title_subtitle sc_align_default sc_item_title_style_default">We Provide the Best Tutoring Service</h6>
                              <h2 class="sc_item_title sc_title_title sc_align_default sc_item_title_style_default">Useful <span class="accent_color">Information</span><span class="decorative-line" style="display: inline-block; position: absolute; border-top: 1px dashed; top: 0.6em; right: 1006px; left: -1006px; width: 100%;"></span></h2>
                           </div>
            
                        <div id="sc_promo_442647587" class="sc_promo sc_promo_default sc_promo_size_normal sc_promo_no_paddings sc_promo_image_position_right">
                           <div class="sc_promo_image" style="background-image:url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/photo11.jpg);width:51%;right: 0;"></div>
                           <a href="/video-tutorials/" class="sc_promo_link_on_image">View Our Video Presentation<span class="icon-play"></span>
                           </a>
                              <div class="sc_promo_text" style="width: 49%;float: left;">
                                 <div class="sc_promo_text_inner" style="">
                                    <h6 class="sc_item_subtitle sc_promo_subtitle sc_align_left sc_item_title_style_default">Most Popular</h6>
                                    <h3 class="sc_item_title sc_promo_title sc_align_left sc_item_title_style_default">Trending Subjects</h3>

                                       <div class="sc_promo_content sc_item_content">
                                          <div class="vc_wp_custommenu wpb_content_element columns-2">
                                             <div class="widget widget_nav_menu">
                                                <div class="menu-subjects-container">
                                                   <ul id="menu-subjects" class="menu">
                                                      <li id="menu-item-174" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-174"><a href="/tutors/">Mathematics</a></li>
                                                      <li id="menu-item-175" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-175"><a href="/tutors/">Creative Writing</a></li>
                                                      <li id="menu-item-176" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-176"><a href="/tutors/">English</a></li>
                                                      <li id="menu-item-177" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-177"><a href="/tutors/">Accounting</a></li>
                                                      <li id="menu-item-178" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-178"><a href="/tutors/">Coding</a></li>
                                                      <li id="menu-item-179" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-179"><a href="/tutors/">Spanish</a></li>
                                                      <li id="menu-item-180" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-180"><a href="/tutors/">Communication</a></li>
                                                      <li id="menu-item-181" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-181"><a href="/tutors/">Business Studies</a></li>
                                                      <li id="menu-item-182" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-182"><a href="/tutors/">Chemistry</a></li>
                                                      <li id="menu-item-183" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-183"><a href="/tutors/">Engineering</a></li>
                                                      <li id="menu-item-184" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-184"><a href="/tutors/">Architecture</a></li>
                                                      <li id="menu-item-185" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-185"><a href="/tutors/">Marketing</a></li>
                                                   </ul>
                                                </div>
                                             </div>
                                          </div>
                                       </div>

                                       <div class="sc_item_button sc_item_button_default sc_promo_button sc_align_left sc_button_wrap">
                                          <a href="/tutors/" id="sc_button_1156309976" class="sc_button sc_button_default sc_button_size_normal sc_button_icon_left sc_button_hover_slide_left">
                                          <span class="sc_button_text"><span class="sc_button_title">More Subjects</span></span><
                                          </a>
                                       </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div><!--------END OF SECOND SECTION----->
            </div>
         </article>
      </div>
   </div>
</div>
