<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Your secret page</h1>
  <p class="lead">Profile details</p>
  <p class="lead">Username: {{username}}</p>
  <p class="lead">Email: {{email}}</p>
  <p class="lead">Mobile: {{mobileno}}</p>
</div>

<form class="form-signin" action="/users/profile" method="POST">
  <h2 class="form-signin-heading">Please complete the profile</h2>

  <label for="inputFirstName" class="sr-only">First Name</label>
  <input type="text" id="inputFirstName" name="firstname" class="form-control" placeholder="First Name" required autofocus>

  <label for="inputLastName" class="sr-only">Last Name</label>
  <input type="text" id="inputLastName" name="lastname" class="form-control" placeholder="Last Name" required autofocus>

   <label for="inputAddress1" class="sr-only">Address line 1</label>
  <input type="text" id="inputAddress1" name="address1" class="form-control" placeholder="Address line 1" required autofocus>

   <label for="inputAddress2" class="sr-only">Address line 2</label>
  <input type="text" id="inputAddress2" name="address2" class="form-control" placeholder="Address line 2" required autofocus>

   <label for="inputAddress3" class="sr-only">Address line 3</label>
  <input type="text" id="inputAddress3" name="address3" class="form-control" placeholder="Address line 3" required autofocus>

 <label for="inputZip" class="sr-only">Zip Code</label>
  <input type="number" id="inputZip" name="zipcode" class="form-control" placeholder="Zip Code" required autofocus>

   <label for="mobileNo" class="sr-only">Mobile No</label>
  <input type="number" id="mobileNo" name="mobileno" class="form-control" placeholder="+91 Mobile Number" required autofocus>
   
   <label for="email" class="sr-only">Email</label>
  <input type="text" id="email" name="email" class="form-control" placeholder={{email}} required autofocus>
 
 
  <br/>

  <button class="btn btn-lg btn-default btn-block" type="submit">SAVE</button>
  
</form>