


<div class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-ready" tabindex="-1" style="overflow: hidden auto;">
   <div class="mfp-container mfp-s-ready mfp-inline-holder">
      <div class="mfp-content">
         <div id="trx_addons_login_popup" class="trx_addons_popup trx_addons_tabs inited ui-tabs ui-widget ui-widget-content ui-corner-all">
            <ul class="trx_addons_tabs_titles ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
               <li class="trx_addons_tabs_title trx_addons_tabs_title_login ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="trx_addons_login_content" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true">
                  <a href="/users/login" class="ui-tabs-anchor sc_button_hover_style_dark" role="presentation" tabindex="-1" id="ui-id-1">
                  <i class="trx_addons_icon-lock-open"></i>			
                  Login			</a>
               </li>
               <li class="trx_addons_tabs_title trx_addons_tabs_title_register ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="-1" aria-controls="trx_addons_register_content" aria-labelledby="ui-id-2"  aria-selected="true" aria-expanded="true">
                  <a href="/users/register" class="ui-tabs-anchor sc_button_hover_style_dark" role="presentation" tabindex="-1" id="ui-id-2">
                  <i class="trx_addons_icon-user-plus"></i>			
                  Register			</a>
               </li>
            </ul>
            <div id="trx_addons_login_content" class="trx_addons_tabs_content trx_addons_login_content ui-tabs-panel ui-widget-content ui-corner-bottom" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false">
               <div>
                  <div class="trx_addons_popup_form_wrap trx_addons_popup_form_wrap_login">
                     <form class="trx_addons_popup_form trx_addons_popup_form_login sc_input_hover_iconed inited" action="http://smarthead.ancorathemes.com/wp-login.php" method="post" name="trx_addons_login_form">
                        <input type="hidden" id="login_redirect_to" name="redirect_to" value="">
                        <div class="trx_addons_popup_form_field trx_addons_popup_form_field_login">
                           <label class="sc_form_field sc_form_field_log required">
                           <span class="sc_form_field_wrap"><input type="text" name="log" id="log" value="" aria-required="true"><span class="sc_form_field_hover"><i class="sc_form_field_icon trx_addons_icon-user-alt"></i><span class="sc_form_field_content" data-content="Login">Register</span></span>	</span>
                           </label>
                        </div>
                        <div class="trx_addons_popup_form_field trx_addons_popup_form_field_password">
                           <label class="sc_form_field sc_form_field_pwd required">
                           <span class="sc_form_field_wrap"><input type="password" name="pwd" id="pwd" value="" aria-required="true"><span class="sc_form_field_hover"><i class="sc_form_field_icon trx_addons_icon-lock"></i><span class="sc_form_field_content" data-content="Password">Password</span></span>	</span>
                           </label>
                        </div>
                        <div class="trx_addons_popup_form_field trx_addons_popup_form_field_password">
                           <label class="sc_form_field sc_form_field_pwd required">
                           <span class="sc_form_field_wrap"><input type="password" name="pwd" id="pwd" value="" aria-required="true"><span class="sc_form_field_hover"><i class="sc_form_field_icon trx_addons_icon-lock"></i><span class="sc_form_field_content" data-content="Password">Password</span></span>  </span>
                           </label>
                        </div>
                        <div class="trx_addons_popup_form_field trx_addons_popup_form_field_remember">
                           <a href="http://smarthead.ancorathemes.com/my-account/lost-password/" class="trx_addons_popup_form_field_forgot_password">Forgot password?</a>
                           <input type="checkbox" value="forever" id="rememberme" name="rememberme" class="filled"><label for="rememberme"> Remember me</label>
                        </div>

                        <div class="trx_addons_popup_form_field trx_addons_popup_form_field_submit">
                           <input type="submit" class="submit_button sc_button_hover_slide_left filled" value="Register">
                        </div>
                        <div class="trx_addons_message_box sc_form_result"></div>
                     </form>
                  </div>
               </div>
            </div>
            <button title="Close (Esc)" type="button" class="mfp-close" onclick="/">×</button>
         </div>
      </div>
      <div class="mfp-preloader">Loading...</div>
   </div>
</div>