<form class="form-signin" action="/users/changePassword?email={{email}}" method="POST">
  <h2 class="form-signin-heading">Please sign in</h2>

   <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>


  <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
  <input type="password" id="inputConfirmPassword" name="confirmationPassword" class="form-control" placeholder="Confirm Password" required>


  <input type="hidden" id="inputEmail" name="email" >
  <br/>

  <button class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>
  <h4>Dont have an account?</h4>
  <a href="/users/register">Register here</a>
  <a href="/users/forgotPass">Forgot Password ?</a>
</form>
