<form class="form-signin" action="/users/postRequirement" method="POST">
  <h2 class="form-signin-heading">Fill the details</h2>

 
  <label for="inputUsername" class="sr-only">Username</label>
  <input type="text" id="inputUsername" name="name" class="form-control" placeholder="Name" required>

  <label for="inputUserage" class="sr-only">Age</label>
  <input type="text" id="inputUserage" name="age" class="form-control" placeholder="Age" required>

  <label for="inputUserclass" class="sr-only">Class</label>
  <input type="text" id="inputUserclass" name="class" class="form-control" placeholder="Class" required>

  <label for="inputUsersubject" class="sr-only">Subject</label>
  <input type="text" id="inputUsersubject" name="subject" class="form-control" placeholder="Subject" required>

  <label for="inputUserEmail" class="sr-only">Email</label>
  <input type="text" id="inputUserEmail" name="email" class="form-control" placeholder="Email" required>

  <label for="inputUserAddress" class="sr-only">Address</label>
  <input type="text" id="inputUserAdress" name="address" class="form-control" placeholder="Address" required>

  <label for="inputUserAvailabletime" class="sr-only">Available Time</label>
  <input type="text" id="inputUserAvailabletime" name="availbletime" class="form-control" placeholder="Available Time eg: 5-7" required>

  <input type="checkbox" name="gender_preference" value="male">male<br>
  <input type="checkbox" name="gender_preference" value="female" checked>female<br>

 <input type="checkbox" name="location_preference" value="home">Home<br>
  <input type="checkbox" name="location_preference" value="classes" checked>Classes<br>


  <label for="description" class="sr-only">Description</label>
  <input type="text" id="description" name="description" class="form-control" placeholder="Other Description" required>

  
 



  <br/>

  <button class="btn btn-lg btn-default btn-block" type="submit">POST REQUIREMENT</button>
</form>
