.navbar {
      margin-bottom: 0;

      border-radius: 0;
      width: 100%;
      margin: 0;

  padding-right: 10px;
  padding-left: 10px;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 1000px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;

  padding-right: 10px;
  padding-left: 10px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: 100%;
        padding: 15px;
       
      }
      .row.content {height:auto;} 
    }

.form-signin
{
  width: 20%;
  text-align: center;
  margin: 0 auto; 
width:250px;
}
.contain
{

  padding-right: 10px;
  padding-left: 10px;
}
h2
{
  text-align: center;
}


.panel-heading
{
  font-weight: bold;
  font-size: 20px;
}